* {
  font-family: "BW Gradual", Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/ArtbirdSticker.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

